container_commands:
  01_enable_rootaccess:
    command: echo Defaults:root \!requiretty >> /etc/sudoers
  02_confreplace:
    command: "cp elasticbeanstalk.conf /etc/httpd/conf.d/elasticbeanstalk.conf"
  03_stop_apache:
    command: "sudo apachectl stop"
  04_start_apache:
    command: "sudo apachectl start"